<h1><%= @user.name %></h1>
Tickets: <%= @user.tickets %>
<br>
Height: <%= @user.height %>
<br>
Mood: <%= @user.mood %>
<br>
Happy: <%= @user.happiness %>

<% if current_user.admin %>
	<h4>ADMIN</h4>
	<%= link_to 'See attractions', attractions_path %>
<% end %>